* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  color: #000000;
  font-family: 'IBM Plex Sans KR', sans-serif;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

h1{
  font-weight: bold;
  font-size: 35px;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact input[type="number"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="number"]:hover,
#contact input[type="number"]:hover,
#contact input[type="number"]:hover,
#contact input[type="number"]:hover,
#contact input[type="number"]:hover,
#contact input[type="number"]:hover,
#contact input[type="number"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #2193b0;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #6dd5ed;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
img{
  border-radius: 50%;
}
